<div class="container haiku">

  <h2>All Haikus</h2>

  <% Haiku.order(:votes).reverse.each do |haiku| %>
    <div class="haiku_list">
      <p class="date">
        <%= haiku.created_at.strftime('%b %e, %Y') %>
        , by <a href="/author/<%= haiku.user_id %>"><%= User.find(haiku.user_id).full_name %></a>
      </p>
      <p><%= haiku.line_1 %></p>
      <p><%= haiku.line_2 %></p>
      <p><%= haiku.line_3 %></p>
      <ul>
        <li><a href="/haiku/<%= haiku.id %>">permalink</a></li>
        <li><a href ="/vote/<%= haiku.id %>">vote</a></li>
      </ul>

      <% if haiku.votes == 1 %>
        <p class="votes"><%= haiku.votes %> vote</p>
      <% else %>
        <p class="votes"><%= haiku.votes %> votes</p>
      <% end %>

    </div>
  <% end %>

</div>
