<h2>All Haikus</h2>

<% @haikus.each do |haiku| %>
  <div class="haiku_list">

    <div class="haiku haiku_list">

      <p class="date"><%= haiku.created_at.strftime('%b %e, %Y') %> by <%= haiku.author.full_name %></p>
      <p><%= haiku.line_1 %></p>
      <p><%= haiku.line_2 %></p>
      <p><%= haiku.line_3 %></p>
      <ul>
        <li><a class="perm" href="/haiku/<%= haiku.id %>" target="_blank">permalink</a></li>
      </ul>

      <div id="permalink" class="hidden">
        <a id="close" href="#">Close</a>
        <input type="text" value ="http://andrewshaikus.com/haiku/<%= haiku.id %>"></input>
      </div>

    </div>

  </div>
<% end %>


