<div class="haiku">

  <p class="date"><%= @haiku.created_at.strftime('%b %e, %Y') %> by <%= User.find(@haiku.user_id).full_name %></p>
  <p><%= @haiku.line_1 %></p>
  <p><%= @haiku.line_2 %></p>
  <p><%= @haiku.line_3 %></p>
  <ul>
    <li><a class="perm" href="/haiku/<%= @haiku.id %>" target="_blank">permalink</a></li>
    <li><a class="like" href ="/vote/<%= @haiku.id %>">like</a></li>
  </ul>

  <div id="permalink" class="hidden">
    <a id="close" href="#">Close</a>
    <input type="text" value ="http://andrewshaikus.com/haiku/<%= @haiku.id %>"></input>
  </div>'

</div>