<div class="haiku haiku_list">

  <h2>Recent Comments</h2>

  <% @comments.each do |comment| %>
    <div class="comment_list">
      <p><%= comment.line_1 %></p>
      <p><%= comment.line_2 %></p>
      <p><%= comment.line_3 %></p>
      <p class="comment_link_p"><a class="comment_link" href="/haiku/<%= comment.haiku_id %>">Posted on this haiku</a></p>
      <p class="comment_posted_by">Posted by: <%= comment.user.full_name %></p>
    </div>
  <% end %>

</div>