<p class="date"><%= haiku.created_at.strftime('%b %e, %Y') %> by <%= haiku.author.full_name %></p>
<p><%= haiku.line_1 %></p>
<p><%= haiku.line_2 %></p>
<p><%= haiku.line_3 %></p>
<ul>
  <li><a class="comment_link" href="/haiku/<%= haiku.id %>">Comments (<%= haiku.comments.count %>)</a></li>
  <% if current_user %>
    <% if Like.where(:haiku_id => haiku.id, :user_id => current_user.id).length != 0 %>
      <li class="green">You liked this</li>
    <% else %>
      <li><a href="/like/<%= haiku.id %>">Like</a></li>
    <% end %>
  <% else %>
    <li class="green"><a class="sign_in" href="/signin">Sign In to like</a></li>
  <% end %>
  <% if haiku.likes.count != 0 %>
    <li><a class="liked" href="#">Liked by</a></li>
  <% end %>
  <li><a class="perm" href="/haiku/<%= haiku.id %>" target="_blank">Permalink</a></li>
  <li><a  href="https://twitter.com/share"
          class="twitter-share-button"
          data-url="http://andrewshaikus.com/haiku/<%= haiku.id %>"
          data-counturl="http://andrewshaikus.com/haiku/<%= haiku.id %>"
          data-text="Andrew's Haikus: <%= haiku.line_1 %> <%= haiku.line_2 %> <%= haiku.line_3 %>"
          data-lang="en" data-count="none">Tweet</a></li>
</ul>

<div id="permalink" class="hidden">
  <a class="close" href="#">Close</a>
  <input type="text" value ="http://andrewshaikus.com/haiku/<%= haiku.id %>">
</div>

<% if haiku.likes.count != 0 %>
  <div id="liked_by" class="hidden">
    <a class="close" href="#">Close</a>
    <% likes = [] %>
    <% haiku.likes.each do |like| %>
      <% likes << User.find(like.user_id).full_name %>
    <% end %>
      <ul>
      <li class="liked_by_gray">Liked by these users:</li>
      <% likes.each do |like| %>
        <li><%= like %></li>
      <% end %>
    </ul>
  </div>
<% end %>








